.p-float-label .p-input-icon-right {
  font-size: 15px;
}

.LoginTab {
  // width: 400px;
  .LoginInputs {
    width: 100%;
    font-size: 15px;
    border-radius: 23px;
    // margin: 10px 0px 10px 0px;
    border: solid 1px #e2e2e2;
    background-color: #fff;
    &:focus{
      border: solid 1px #31567f;
 }
  }

  .forgotPassword {

    a,
    a:link,
    a:visited {
      color: #172b4d;
      text-decoration: none;
    }
    // margin:12px 0px 22px 0px;
    justify-content: end;
    text-align: right;
    font-family: "AvenirLTStd-Medium",sans-serif !important;
  }
 button,button:focus {
    background-color: #31567f;
    text-align: center;
    color:#ffffff;
    height: 50px;
    font-family: "AvenirLTStd-Medium", sans-serif !important;
}


  .OtherLoginMethods {
    text-align: center;
    font-family: "AvenirLTStd-Medium", sans-serif !important;
    height: 19px;
    font-size: 15px;
    // margin: 40px 0px 20px 0px;
    line-height: 1.27;
    text-align: center;
    color: #172b4d;
  }
}

  .Logo2{
    // margin: 0px 25px 0px 20px;

    font-size: 24px;
    line-height: 1.29;
    text-align: center;
  }



  .p-float-label input:focus ~ label, .p-float-label input.p-filled ~ label, .p-float-label textarea:focus ~ label, .p-float-label textarea.p-filled ~ label, .p-float-label .p-inputwrapper-focus ~ label, .p-float-label .p-inputwrapper-filled ~ label {
    top: 2px;
    left: 22px;
    padding: 0 5px 0px 5px;
    background: white;
    font-size: 12px;
}
