.p-float-label .p-input-icon-right {
  font-size: 15px;
}

.RegisterTab {
  // width: 400px ;
  .p-radiobutton-box{
    &.p-highlight {
    border-color:#172b4d;
    background: #31567f;

}
&.p-radiobutton-icon{
  color: #172b4d;
}
}
  .text{
    padding-left:  8px;
  }
  .text2{
    padding-left:  15px;
  }
  .LoginInputs {
    width: 100%;
    font-size: 15px;
    border-radius: 23px;
    border: solid 1px #e2e2e2;
    background-color: #fff;
    padding: 8px 14px;
    &:focus{
      border: solid 1px #31567f;
 }
  }
  .dropdownStyle{
    width: 100%;
    font-size: 15px;
    border-radius: 23px;

    background-color: #fff;
    &:focus{
         border: solid 1px #31567f;
    }
    span{
    padding: 8px 14px;
    }
  }

  .forgotPassword {

    a,
    a:link,
    a:visited {
      color: #172b4d;
      text-decoration: none;
    }
    margin:12px 0px 22px 0px;
    justify-content: end;
    text-align: right;
    font-family: "AvenirLTStd-Medium",sans-serif !important;
  }

  .LoginButton {
    background-color: $blue;
    text-align: center;
    color: $white;
    height: 50px;
    font-family: "AvenirLTStd-Medium", sans-serif !important;
    box-shadow: 0 2px 4px 0;
  }
 button,button:focus {
    background-color: #31567f;
    text-align: center;
    color:#ffffff;
    height: 50px;
    font-family: "AvenirLTStd-Medium", sans-serif !important;
}
.p-checkbox .p-checkbox-box .p-checkbox-icon {
  color: #ffffff;
  font-size: 14px;
  border-color: #ffffff;
  background-color: #172b4d;
}

  .OtherLoginMethods {
    text-align: center;
    font-family: "AvenirLTStd-Medium", sans-serif !important;
    font-size: 15px;
    line-height: 1.27;
    text-align: center;
    color: #172b4d;
  }

  }


.card{
  width: 400px;
  margin :0 auto;
}
