.p-float-label .p-input-icon-right {
  font-size: 15px;
}

.RegisterTab {
  width: 400px !important;
  .indi{
      margin:10px 9px 10px 0px;
  }
  .pro{
      margin:10px 9px 10px 0px;
  }
  .city{
      margin-top: 10px;
  }
  .LoginInputs {
    width: 100%;
    font-size: 15px;
    border-radius: 23px;
    margin: 10px 0px 10px 0px;
    border: solid 1px #e2e2e2;
    background-color: #fff;
  }
  .dropdownStyle{
    width: 100%;
    font-size: 15px;
    border-radius: 23px;
    margin: 10px 0px 10px 0px;
    border: solid 1px #31567f;
    background-color: #fff;
  }

  .forgotPassword {

    a,
    a:link,
    a:visited {
      color: #172b4d;
      text-decoration: none;
    }
    margin:12px 0px 22px 0px;
    justify-content: end;
    text-align: right;
    font-family: "AvenirLTStd-Medium",sans-serif !important;
  }

  .LoginButton {
    background-color: $blue;
    text-align: center;
    color: $white;
    height: 50px;
    font-family: "AvenirLTStd-Medium", sans-serif !important;
    box-shadow: 0 2px 4px 0;
  }
 button,button:focus {
    background-color: #31567f;
    text-align: center;
    color:#ffffff;
    height: 50px;
    font-family: "AvenirLTStd-Medium", sans-serif !important;
}


  .OtherLoginMethods {
    text-align: center;
    font-family: "AvenirLTStd-Medium", sans-serif !important;
    height: 19px;
    font-size: 15px;
    margin: 40px 0px 20px 0px;
    line-height: 1.27;
    text-align: center;
    color: #172b4d;
  }
}

