// Color Variables
$white: #fff;
$black: #000;
$blue:#31567f;

// Meadia Variables
$screen-lg: 1200px;
$screen-md: 991px;
$screen-sm: 767px;
$screen-xs: 580px;
$screen-xxs: 365px;
$screen-size-xs:420px;
