// Color Variables
$white: #fff;
$black: #000;
$blue:#31567f;
  $fbBlue:#3b5998;
$google:#db4a39;
$twiter:#00acee;

// Meadia Variables
$screen-lg: 1200px;
$screen-md: 991px;
$screen-sm: 767px;
$screen-xs: 580px;
$screen-xxs: 365px;
$screen-size-xs:420px;
