<div class="LoginTab">
  <div class="mt-4">
    <span class="p-float-label">
      <input type="text" id="inputtext" class="LoginInputs" pInputText>
      <label for="inputtext">Email</label>
    </span>
  </div>
  <div class=" mt-4">
    <span class="p-float-label p-input-icon-right  w-100">
      <i class="pi pi-eye-slash"></i>
      <input type="text" id="inputtext-right" class="LoginInputs w-100" pInputText>
      <label for="inputtext-right">Password</label>
    </span>
  </div>
  <div class="forgotPassword mt-2">
    <a class="text-end">Lost Your Password?</a>
  </div>
  <div class="mt-2">
    <button type="button" class="w-100 rounded-pill" >Login</button>
  </div>
    <div class=" mt-3">
      <p class="OtherLoginMethods">Login with Social Networks </p>
    </div>
    <div class="mt-1">
     <i class="pi pi-facebook Logo1"></i>
     <i class="pi pi-google Logo2"></i>
     <i class="pi pi-twitter Logo3"></i>
    </div>
</div>
<!-- <i class="pi pi-eye-slash"></i> p-input-icon-right -->
